<!DOCTYPE html>
<html lang="Ko">
<head>
    <title>Document</title>
</head>
<% 
    var CS_data = CS_data
    var idx = idx
%> 
<body>
    <h1>팝업</h1>
    <p><%= JSON.stringify(CS_data[idx])%></p>
</body>
</html>